.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  height: 48px;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 999;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
}

.wrapper {
  display: flex;
  background-color: red;
  height: 750px;
}

.tree {
  border-radius: 18px;
    background-color: blue;
}

.reset {
  position: absolute;
  right: 10px;
  top: 60px;
  padding: 4px 10px;
  background: pink;
  border: 1px solid #ddd;
  border-radius: 4px;
  line-height: 10;
  cursor: pointer;
}
i{
  background: white;
}
